@font-face{
    font-family: 'ds-digital';
    src:url('fonts/ds-digii.ttf');
    font-style: italic;

}

#time{
    text-align: center;
    border: 11px solid white;
    font-size: 85px;
    display: block;
    width: 27%;
    margin-left:70%;
    font-family: 'ds-digital';
    background: black;
    color:#c5cc04;
    padding: 5px;
    font-weight: 600;
}


#header-name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    color: white;
    font-size: 45px;
}

.jumbotron{
    background-color: black;
}

.trainHeader{
    background-color: black;
    color:white
}

.train-form{
    border: 4px solid black;
}

.trainTable{
    background-color: black;
}

thead{
    color: white;
}

.table td{
    border-top-color: #f5cd05;
}

.table thead th{
    border-top-color: #f5cd05;
    border-bottom-color: #f5cd05;
}


tbody{
    font-family: 'Roboto Mono', monospace;
    color: white;

}

.train-form{
    margin-top: 30px;
}