@font-face{
    font-family: 'ds-digital';
    src:url('fonts/ds-digii.ttf');
    font-style: italic;

}

#time{
    text-align: center;
    border: 11px solid white;
    font-size: 75px;
    display: block;
    width: 25%;
    margin-left:70%;
    font-family: 'ds-digital';
    background: black;
    color:#c5cc04;
    padding: 20px;
    font-weight: 600;
}


#header-name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    color: white;
    font-size: 45px;
}

.jumbotron{
    background-color: black;
}